In [ ]:
n = int(input("number ="))
if n % 2 == 0:
    print(n)
else:
    print("")

In [ ]:
mark = float(input("mark ="))
if mark > 90:
    print("Відміно")
elif 89 >= mark > 75:
    print("Молодець")
else:
    print("Старайся більше")

Старайся більше

In [3]:

for n in range(10,101,5):
    print("Ціна без ПДВ " + str(n) + " --> Ціна з ПДВ " + str(n * 1.2))

Ціна без ПДВ 10 --> Ціна з ПДВ 12.0
Ціна без ПДВ 15 --> Ціна з ПДВ 18.0
Ціна без ПДВ 20 --> Ціна з ПДВ 24.0
Ціна без ПДВ 25 --> Ціна з ПДВ 30.0
Ціна без ПДВ 30 --> Ціна з ПДВ 36.0
Ціна без ПДВ 35 --> Ціна з ПДВ 42.0
Ціна без ПДВ 40 --> Ціна з ПДВ 48.0
Ціна без ПДВ 45 --> Ціна з ПДВ 54.0
Ціна без ПДВ 50 --> Ціна з ПДВ 60.0
Ціна без ПДВ 55 --> Ціна з ПДВ 66.0
Ціна без ПДВ 60 --> Ціна з ПДВ 72.0
Ціна без ПДВ 65 --> Ціна з ПДВ 78.0
Ціна без ПДВ 70 --> Ціна з ПДВ 84.0
Ціна без ПДВ 75 --> Ціна з ПДВ 90.0
Ціна без ПДВ 80 --> Ціна з ПДВ 96.0
Ціна без ПДВ 85 --> Ціна з ПДВ 102.0
Ціна без ПДВ 90 --> Ціна з ПДВ 108.0
Ціна без ПДВ 95 --> Ціна з ПДВ 114.0
Ціна без ПДВ 100 --> Ціна з ПДВ 120.0

In [ ]:
list1 =[]
n = 0
while len(list1) < 3:
    n += 1
    list1.append(int(input("Число" +str(n))))
print(max(list1))

8

In [ ]:
month = 0
sum = 1000
while True:
    if sum < 5000:
        n += 1
        sum += 300
        print("Місяць = " + str(month) + " Сума = " + str(sum))
    else:
        break

Місяця = 1 Сума = 1300
Місяця = 2 Сума = 1600
Місяця = 3 Сума = 1900
Місяця = 4 Сума = 2200
Місяця = 5 Сума = 2500
Місяця = 6 Сума = 2800
Місяця = 7 Сума = 3100
Місяця = 8 Сума = 3400
Місяця = 9 Сума = 3700
Місяця = 10 Сума = 4000
Місяця = 11 Сума = 4300
Місяця = 12 Сума = 4600
Місяця = 13 Сума = 4900
Місяця = 14 Сума = 5200

In [26]:
year = int(input("year "))
if (year % 4 == 0 ) and ((year % 100 != 0) or ( year % 400 == 0)):
    print("Високосний")
else:
    print("Звичайний")

Високосний

list1 = [3 ,7, 2, 9, 5 ]
avg = sum(list1) / len(lis1) 
pint(avg)

In [3]:
list1 = [3 ,7, 2, 9, 5 ]
avg = sum(list1) / len(list1) 
print(avg)

5.2

In [40]:
nums = [4, 7, 2, 4, 8, 9, 2, 10, 3, 8]
nums_set = list(set(nums))
for element in nums_set:
    if nums[n] % 2 == 0:
        nums_set.remove(element)
nums_set.sort(reverse = True)
print(nums_set)

[10, 9, 8, 7, 4, 3, 2]

In [49]:
prices = {
    "apple": 12,
    "banana": 8,
    "milk": 25,
    "bread": 20
}
print(prices["apple"] + prices["banana"] + prices["milk"] + prices["bread"])

65

In [81]:
people = {
    "Anna": "Kyiv",
    "Bohdan": "Lviv",
    "Oksana": "Kyiv",
    "Dmytro": "Odesa",
}

In [ ]:
cities = {}
for name, city in people.items():
    if city in cities:
        cities[city].append(name)
    else:
        cities[city] = [name]
    
    #a = cities.get(value, [])
    #a.append(key)
    #cities[value] = a
for key, value in people.items():
    print(value)

print(cities)

Anna
Bohdan
Oksana
Dmytro
{'Kyiv': ['Anna', 'Oksana'], 'Lviv': ['Bohdan'], 'Odesa': ['Dmytro']}

In [107]:
a = [1,2,3]
b = a.copy()
a.append(4)
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3, 4]
[1, 2, 3]
4440600832
4437948096

In [98]:
grades = [
    [90, 85, 88],
    [75, 80, 79],
    [95, 92, 96],
    [88, 85, 84]
]
for element in grades:
    avg_list = []
    avg_list.append(sum(element) / len(element))
for index, sublist in enumerate(grades):
    if sum(sublist) / len(sublist) == max(avg_list):
        print("Індекс студенту  = " + str(index) +  "\f Середній бал = " + str(max(avg_list)))

Індекс студенту  = 3 Середній бал = 85.66666666666667

In [150]:
#line_1 = int(input("line 1 = "))
#colum_1 = int(input("colum 1 = "))
#line_2 = int(input("line 1 = "))
#colum_2 = int(input("colum 1 = "))
#print("Doesn't exsit")
matrix_1 = [
    [3, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
    ]

matrix_2 = [
    [1, 2, 7],
    [4, 5, 9],
    [7, 8, 10]
]

def matrix_calculation(matrix_1, matrix_2):
    if len(matrix_1[0]) != len(matrix_2):
        print("Error")
        return None
    matrix_new =[]
    for i in range(len(matrix_1)):
        matrix_new.append([])
        for j in range(len(matrix_2[0])):
            sum = 0
            for n in range(len(matrix_1)):
                sum += matrix_1[i][n] * matrix_2[n][j]
            matrix_new[i].append(sum)
    return matrix_new
matrix_new = matrix_calculation(matrix_1, matrix_2)
for n in range(len(matrix_new)):
    for k in range(len(matrix_new[0])):
        print(matrix_new[n][k], end=" ")
    print()

32 40 69
66 81 133
102 126 211